<a href="https://colab.research.google.com/github/MAndroshick/Team-19/blob/main/CSE578_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

adult_data = pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data")
#adult_names = pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.names")
adult_test = pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.test")
#old_names = pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/adult/old.adult.names")
adult_data.columns = ["age", "workclass", "fnlwgt", "education", "education-num", "marital-status", "occupation", "relationship", \
    "race", "sex", "capital-gain", "capital-loss", "hours-per-week", "native-country", "salary-range"]

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

KeyboardInterrupt: ignored

In [ ]:
adult_data.head()

   age          workclass  fnlwgt  ... hours-per-week  native-country salary-range
0   50   Self-emp-not-inc   83311  ...             13   United-States        <=50K
1   38            Private  215646  ...             40   United-States        <=50K
2   53            Private  234721  ...             40   United-States        <=50K
3   28            Private  338409  ...             40            Cuba        <=50K
4   37            Private  284582  ...             40   United-States        <=50K

[5 rows x 15 columns]

In [ ]:
adult_test.head()

                                                                                                                                |1x3 Cross validator
25  Private   226802  11th         7   Never-married       Machine-op-inspct  Own-child  Black  Male   0    0 40  United-States               <=50K.
38  Private   89814   HS-grad      9   Married-civ-spouse  Farming-fishing    Husband    White  Male   0    0 50  United-States               <=50K.
28  Local-gov 336951  Assoc-acdm   12  Married-civ-spouse  Protective-serv    Husband    White  Male   0    0 40  United-States                >50K.
44  Private   160323  Some-college 10  Married-civ-spouse  Machine-op-inspct  Husband    Black  Male   7688 0 40  United-States                >50K.
18  ?         103497  Some-college 10  Never-married       ?                  Own-child  White  Female 0    0 30  United-States               <=50K.